
.navbarcolor
{
    background:rgb(42, 250, 104) ;
}

.navbar-brand
{
padding-left: 30px;
padding-top: 30px;

}   
.heading
{
color: white;    
font-family: Georgia, serif;
   margin-top: -53px;
   margin-left: 189px;
   font-size: xx-large;

}
.sub
{
    margin-top: -30px;
    margin-left: 189px;
    font-family: Georgia, serif;
    color: white;
}
.isnee
{
    margin-bottom: -21px;
}
.slider
{
    height: 400px;
    width: 50%;
}
.gradient-custom {
  /* fallback for old browsers */
background-color: rgb(43, 43, 43);
  
  
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 10px;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    
  
}
.btn-primary {
  color: #fff;
  background:rgb(42, 250, 104) ;
  border-color: #000000;
}